@model AgileLogisticsManagement.Models.HopDongVanTai

@{
    ViewData["Title"] = "Tạo mới Hợp đồng vận tải";
}

<h2>Tạo mới</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Hợp đồng vận tải</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FileHopDong" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FileHopDong" class="form-control" />
                <span asp-validation-for="FileHopDong" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GiaTriHopDong" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GiaTriHopDong" class="form-control" />
                <span asp-validation-for="GiaTriHopDong" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdDoiTac" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdDoiTac" class="form-control" />
                <span asp-validation-for="IdDoiTac" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdLoaiHangHoa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdLoaiHangHoa" class ="form-control" asp-items="ViewBag.IdLoaiHangHoa"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdNhanVien" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdNhanVien" class ="form-control" asp-items="ViewBag.IdNhanVien"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdTaiXe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdTaiXe" class ="form-control" asp-items="ViewBag.IdTaiXe"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdXe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdXe" class ="form-control" asp-items="ViewBag.IdXe"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LePhi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LePhi" class="form-control" />
                <span asp-validation-for="LePhi" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaHopDong" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaHopDong" class="form-control" />
                <span asp-validation-for="MaHopDong" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoiDungEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NoiDungEmail" class="form-control" />
                <span asp-validation-for="NoiDungEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Thue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Thue" class="form-control" />
                <span asp-validation-for="Thue" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrangThaiHopDong" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TrangThaiHopDong" class="form-control" />
                <span asp-validation-for="TrangThaiHopDong" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
