@model AgileLogisticsManagement.Models.HopDongVanTai

@{
    ViewData["Title"] = "Chi tiết Hợp đồng vận tải";
}

<h2>Xem thông tin</h2>

<div>
    <h4>Hợp đồng vận tải</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileHopDong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileHopDong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaTriHopDong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiaTriHopDong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDoiTac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDoiTac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LePhi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LePhi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaHopDong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaHopDong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoiDungEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoiDungEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiHopDong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThaiHopDong)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>
