@model AgileLogisticsManagement.Models.LoTrinhGiao

@{
    ViewData["Title"] = "Tạo mới Lộ trình giao";
}

<h2>Tạo mới</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Lộ trình giao</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DiaDiem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiaDiem" class="form-control" />
                <span asp-validation-for="DiaDiem" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdHopDongVanTai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdHopDongVanTai" class ="form-control" asp-items="ViewBag.IdHopDongVanTai"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiLienHe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NguoiLienHe" class="form-control" />
                <span asp-validation-for="NguoiLienHe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiNhan" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NguoiNhan" class="form-control" />
                <span asp-validation-for="NguoiNhan" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoDienThoai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ThoiGian" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ThoiGian" class="form-control" />
                <span asp-validation-for="ThoiGian" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
