@model AgileLogisticsManagement.Models.LoTrinhGiao

@{
    ViewData["Title"] = "Xóa Lộ trình giao";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa thông tin Lộ trình giao này phải không?</h3>
<div>
    <h4>Lộ trình giao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiLienHe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiLienHe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
