@model AgileLogisticsManagement.Models.LoTrinhGiao

@{
    ViewData["Title"] = "Chi tiết Lộ trình giao";
}

<h2>Xem thông tin</h2>

<div>
    <h4>Lộ trình giao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiLienHe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiLienHe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>
