@model AgileLogisticsManagement.Models.DoiTac

@{
    ViewData["Title"] = "Xóa Đối tác";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa thông tin Đối tác này phải không?</h3>
<div>
    <h4>Đối tác</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCaNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCaNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiHangHoaVanTai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiHangHoaVanTai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaSo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaSo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaSoThue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaSoThue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiLienHe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiLienHe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThongTinXuatHoaDon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThongTinXuatHoaDon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
