@model AgileLogisticsManagement.Models.DoiTac

@{
    ViewData["Title"] = "Chỉnh sửa Đối tác";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Đối tác</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CMND" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CMND" class="form-control" />
                <span asp-validation-for="CMND" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiaChi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdLinhVucKinhDoanh" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="IdLinhVucKinhDoanh" class="form-control" asp-items="ViewBag.IdLinhVucKinhDoanh"></select>
                <span asp-validation-for="IdLinhVucKinhDoanh" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsCaNhan" />
                    <label asp-for="IsCaNhan"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LoaiHangHoaVanTai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LoaiHangHoaVanTai" class="form-control" />
                <span asp-validation-for="LoaiHangHoaVanTai" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaSo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaSo" class="form-control" />
                <span asp-validation-for="MaSo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaSoThue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaSoThue" class="form-control" />
                <span asp-validation-for="MaSoThue" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiLienHe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NguoiLienHe" class="form-control" />
                <span asp-validation-for="NguoiLienHe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoDienThoai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ten" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ThongTinXuatHoaDon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ThongTinXuatHoaDon" class="form-control" />
                <span asp-validation-for="ThongTinXuatHoaDon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu chỉnh sửa" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
