@model IEnumerable<AgileLogisticsManagement.Models.DoiTac>



@{
    ViewData["Title"] = "Danh sách Đối tác";
}

<h2>Danh sách Đối tác</h2>

<div class="row">
    <div class="col-md-10">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="mời nhập từ khoá..." autofocus
                   ng-keypress="keywordKeypress($event)" ng-model="keyword">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Tìm</button>
            </span>
        </div>
    </div>
    <div class="col-md-2"><a asp-action="Create" class="btn btn-success">Tạo mới đối tượng</a></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CMND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCaNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiHangHoaVanTai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSoThue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiLienHe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThongTinXuatHoaDon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCaNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiHangHoaVanTai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSoThue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiLienHe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThongTinXuatHoaDon)
                </td>

                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Sửa <span class="glyphicon glyphicon-pencil"></span></a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Xem <span class="glyphicon glyphicon-info-sign"></span></a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa <span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal-footer no-margin-top">
    <div class="col-md-9">
        <nav aria-label="col-md-9">
            <ul style="margin:0; float:left" class="pagination">
                @{
                    if (ViewBag.page > 1)
                    {
                        <li>
                            <button class="btn btn-sm btn-primary" ng-click="goTo(@(ViewBag.page-1))">
                                <span aria-hidden="true">&laquo; trang đầu</span>
                            </button>
                        </li>
                    }
                }
                @{
                    for (int i = 0; i < ViewBag.totalPage; i++)
                    {
                        if (i < 5)
                        {
                            if (ViewBag.page == (i + 1))
                            {
                                <li class="active"><button class="btn btn-sm btn-default" ng-click="goTo(@i+1)">@(i + 1)</button></li>
                            }
                            else
                            {
                                <li><button class="btn btn-sm btn-primary" ng-click="goTo(@i+1)">@(i + 1)</button></li>
                            }
                        }
                        else
                        {
                            break;
                        }
                    }
                    if (ViewBag.page > 5 && ViewBag.page < (ViewBag.totalPage - 4))
                    {
                        <li class="active"><button class="btn btn-sm btn-default" ng-click="goTo(@ViewBag.page)">@ViewBag.page</button></li>
                    }
                    for (int j = ViewBag.totalPage - 5; j < ViewBag.totalPage; j++)
                    {
                        if (j > 4)
                        {
                            if (ViewBag.page == (j + 1))
                            {
                                <li class="active"><button class="btn btn-sm btn-default" ng-click="goTo(@j+1)">@(j + 1)</button></li>
                            }
                            else
                            {
                                <li><button class="btn btn-sm btn-primary" ng-click="goTo(@j+1)">@(j + 1)</button></li>
                            }
                        }
                        else
                        {
                            break;
                        }
                    }
                }
                @{
                    if (ViewBag.page < ViewBag.totalPage)
                    {
                        <li>
                            <button class="btn btn-sm btn-primary" ng-click="goTo(@(ViewBag.page+1))">
                                trang cuối
                                <span aria-hidden="true">&raquo; </span>
                            </button>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-sm agile">
            <input type="number" max="@ViewBag.totalPage" min="1" class="form-control" value="@ViewBag.page.ToString()" ng-model="page">
            <span class="input-group-addon">trên @ViewBag.totalPage.ToString() trang</span>
            <span class="input-group-addon btn primary" ng-click="loadData()">
                Mở
            </span>
        </div>
    </div>
</div>
<script>
    var totalPage = @Html.Raw(ViewBag.totalPage);
    var app = angular.module('app', []).controller('ctrl',function ($scope) {
        //$scope.totalPage = totalPage;
        //$scope.totalPages = new Array(totalPage);
        $scope.keyword = '@Html.Raw(ViewBag.keyword)';
        $scope.page = @ViewBag.page;
        $scope.rowPerPage = @ViewBag.rowPerPage;
        $scope.keywordKeypress = function (evt) {
            if (evt.which == 13) {
                $scope.loadData();
            }
        }
        $scope.loadData = function () {
            location.href = '/DoiTac' + 's/Index?keyword=' + $scope.keyword+'&page='+$scope.page+'&rowPerPage='+$scope.rowPerPage;
        }
        $scope.goTo= function(page){
            location.href = '/DoiTac' + 's/Index?keyword=' + ($scope.keyword?$scope.keyword:'')+'&page='+page+'&rowPerPage='+$scope.rowPerPage;
        }
    })
</script>
