﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>@ViewData["Title"] - Agile Logistics Management</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://material.angularjs.org/latest/angular-material.min.js"></script>

</head>
<body ng-app="menuBarDemoBasic">
    <div ng-controller="DemoBasicCtrl as ctrl" ng-cloak="" class="menuBardemoBasicUsage" ng-app="MyApp">
        <md-toolbar class="md-menu-toolbar">
            <div layout="row">
                <md-toolbar-filler layout="" layout-align="center center">
                    <md-icon md-svg-icon="call:chat"></md-icon>
                </md-toolbar-filler>

                <div>
                    <h2 class="md-toolbar-tools">@ViewData["Title"]</h2>
                    <md-menu-bar>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                File
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Share...
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">New</md-button>
                                        <md-menu-content>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('Open', $event)">
                                        Open...
                                        <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">
                                        Rename
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('Print', $event)">
                                        Print
                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Edit
                            </button>
                            <md-menu-content>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="undo"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('undo', $event)">
                                        Undo
                                        <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="redo"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('redo', $event)">
                                        Redo
                                        <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-cut"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('cut', $event)">
                                        Cut
                                        <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-copy"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('copy', $event)">
                                        Copy
                                        <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-paste"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('paste', $event)">
                                        Paste
                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                                        Find and replace...
                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                View
                            </button>
                            <md-menu-content>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.printLayout">Print layout</md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">Mode</md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'presentation'">Presentation</md-menu-item>
                                            <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'edit'">Edit</md-menu-item>
                                            <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'modifiable'">Modifiable</md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.showRuler">Show ruler</md-menu-item>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.showEquationToolbar">Show equation toolbar</md-menu-item>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.showSpellingSuggestions">Show spelling suggestions</md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.compactControls">Compact controls</md-menu-item>
                                <md-menu-item type="checkbox" ng-model="ctrl.settings.fullScreen">Full screen</md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Format
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('bold', $event)">
                                        Bold
                                        <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('italic', $event)">
                                        Italic
                                        <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('underline', $event)">
                                        Underline
                                        <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('strikethrough', $event)">
                                        Strikethrough
                                        <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('superscript', $event)">
                                        Superscript
                                        <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('subscript', $event)">
                                        Subscript
                                        <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item><md-button ng-click="ctrl.toggleSetting('clearFormatting')">Clear Formatting</md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </md-toolbar>

        <md-content class="page-container">
            @RenderBody()
        </md-content>

    </div>

    <!--
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
    -->


    <script>
        angular
  .module('menuBarDemoBasic', ['ngMaterial'])
  .config(function ($mdIconProvider) {
      $mdIconProvider
        .defaultIconSet('img/icons/sets/core-icons.svg', 24);
  })
  .filter('keyboardShortcut', function ($window) {
      return function (str) {
          if (!str) return;
          var keys = str.split('-');
          var isOSX = /Mac OS X/.test($window.navigator.userAgent);

          var seperator = (!isOSX || keys.length > 2) ? '+' : '';

          var abbreviations = {
              M: isOSX ? '⌘' : 'Ctrl',
              A: isOSX ? 'Option' : 'Alt',
              S: 'Shift'
          };

          return keys.map(function (key, index) {
              var last = index == keys.length - 1;
              return last ? key : abbreviations[key];
          }).join(seperator);
      };
  })
  .controller('DemoBasicCtrl', function DemoCtrl($mdDialog) {
      this.settings = {
          printLayout: true,
          showRuler: true,
          showSpellingSuggestions: true,
          presentationMode: 'edit'
      };

      this.sampleAction = function (name, ev) {
          $mdDialog.show($mdDialog.alert()
            .title(name)
            .textContent('You triggered the "' + name + '" action')
            .ok('Great')
            .targetEvent(ev)
          );
      };
  });
    </script>

    <style>
                .menuBardemoBasicUsage .page-container {
                    padding: 32px;
                }

                .menuBardemoBasicUsage .page {
                    margin: 0 auto;
                    padding: 24px;
                    max-width: 680px;
                    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
                }

                    .menuBardemoBasicUsage .page h1 {
                        text-align: center;
                        font-size: 1.8rem;
                        margin-top: 0;
                        font-weight: normal;
                    }

                    .menuBardemoBasicUsage .page p {
                        line-height: 1.6rem;
                    }


                /*
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
        */
    </style>
</body>
</html>
