﻿<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgileLogisticsManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style>
        body {
            /*padding-top: 0px;*/
        }

        .sidebar-nav > .sidebar-brand {
            /*height: 65px;
            font-size: 18px;
            line-height: 60px;*/
            height: 100%;
            text-align: center;
            text-indent: 0;
        }

        .sidebar-brand img {
            max-width: 100%;
        }

        .navbar-brand > img {
            height: 100%;            
        }
    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/moment/locale/vi.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            //$('.agile-datetime').mask('00/00/0000 00:00:00');
            $('.agile-datetime').datetimepicker({
                locale: 'vi', inline: true,
                sideBySide: true
            });

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });


            //$("#page-content-wrapper").click(function (e) {
            //    e.preventDefault();
            //    $("#wrapper").toggleClass("toggled");
            //});            
        });
    </script>

    <!-- Menu Toggle Script -->
    <script>

    </script>
</head>

<body ng-app="app" ng-controller="ctrl">
    
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            @*<div class="navbar navbar-default navbar-fixed-top">*@

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @*<button type="button" class="navbar-toggle" id="menu-toggle" >
                        <i class="glyphicon glyphicon-option-horizontal" style="color: aliceblue;"></i>
                    </button>*@
                    <button type="button" class="navbar-brand " id="menu-toggle" style="color: #fff;background-color: transparent;border: 0;">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    </button>
                        <a asp-area="" asp-controller="HopDongVanTais" asp-action="Index" class="navbar-brand">
                            <img src="http://agileviet.com/AGILE/images/logoagile.png" />
                        </a>
</div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="HopDongVanTais" asp-action="Index">Trang chủ</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">Về chúng tôi</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                @*<li class="sidebar-brand">
                        <a asp-area="" asp-controller="Home" asp-action="Index">AgileLogisticsManagement</a>
                    </li>*@
                <li class="sidebar-brand">
                    @*<img src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-9/16649398_1088018851326524_4517598735164502372_n.png?oh=1ecc45c529710e459a8efca647afff2c&oe=5933B387" />*@
                    <img src="http://agileviet.com/AGILE/images/home/slider/house.png" />
                </li>
                <li>
                    <a asp-area="" asp-controller="LoaiChucVus" asp-action="Index">Loại chức vụ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="LoaiGiayPhepLaiXes" asp-action="Index">Loại giấy phép lái xe</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="LoaiHangHoas" asp-action="Index">Loại hàng hóa</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="DoiTacs" asp-action="Index">Đối tác</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="HopDongVanTais" asp-action="Index">Hợp đồng vận tải</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="DonHangGheps" asp-action="Index">Đơn hàng ghép</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="HopDongVanTaiLes" asp-action="Index">Hợp đồng vận tải lẻ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="LinhVucKinhDoanhs" asp-action="Index">Lĩnh vực kinh doanh</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="LoTrinhGiaos" asp-action="Index">Lộ trình giao</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="NhanViens" asp-action="Index">Nhân viên</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="TaiXes" asp-action="Index">Tài xế</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="TamUngTaiXes" asp-action="Index">Tạm ứng tài xế</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Xes" asp-action="Index">Xe vận tải</a>
                </li>


                <li>
                    <a href="http://agileviet.com/" target="_blank" style="color: #f5f5f5;">© 2017 - Agile</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p><a href="http://agileviet.com/" target="_blank">&copy; 2017 - AgileLogisticsManagement</a></p>
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    @RenderSection("scripts", required: false)
</body>

</html>