@model AgileLogisticsManagement.Models.DonHangGhep

@{
    ViewData["Title"] = "Tạo mới Đơn hàng ghép";
}

<h2>Tạo mới</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Đơn hàng ghép</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IdHopDongVanTai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdHopDongVanTai" class ="form-control" asp-items="ViewBag.IdHopDongVanTai"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdHopDongVanTaiLe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdHopDongVanTaiLe" class ="form-control" asp-items="ViewBag.IdHopDongVanTaiLe"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
