@model AgileLogisticsManagement.Models.DonHangGhep

@{
    ViewData["Title"] = "Chỉnh sửa Đơn hàng ghép";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Đơn hàng ghép</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="IdHopDongVanTai" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="IdHopDongVanTai" class="form-control" asp-items="ViewBag.IdHopDongVanTai"></select>
                <span asp-validation-for="IdHopDongVanTai" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdHopDongVanTaiLe" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="IdHopDongVanTaiLe" class="form-control" asp-items="ViewBag.IdHopDongVanTaiLe"></select>
                <span asp-validation-for="IdHopDongVanTaiLe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu chỉnh sửa" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
