@model AgileLogisticsManagement.Models.TamUngTaiXe

@{
    ViewData["Title"] = "Tạo mới Tạm ứng tài xế";
}

<h2>Tạo mới</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Tạm ứng tài xế</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IdHopDongVanTai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdHopDongVanTai" class="form-control" />
                <span asp-validation-for="IdHopDongVanTai" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdTaiXe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdTaiXe" class ="form-control" asp-items="ViewBag.IdTaiXe"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoTien" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoTien" class="form-control" />
                <span asp-validation-for="SoTien" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ThoiGian" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ThoiGian" class="form-control agile-datetime" data-inputmask="'alias': 'date'" placeholder="__/__/____"/>
                <span asp-validation-for="ThoiGian" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
