@model AgileLogisticsManagement.Models.TamUngTaiXe

@{
    ViewData["Title"] = "Xóa Tạm ứng tài xế";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa thông tin Tạm ứng tài xế này phải không?</h3>
<div>
    <h4>Tạm ứng tài xế</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHopDongVanTai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHopDongVanTai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
