@model AgileLogisticsManagement.Models.TamUngTaiXe

@{
    ViewData["Title"] = "Chi tiết Tạm ứng tài xế";
}

<h2>Xem thông tin</h2>

<div>
    <h4>Tạm ứng tài xế</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHopDongVanTai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHopDongVanTai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>
