@model AgileLogisticsManagement.Models.LoaiGiayPhepLaiXe

@{
    ViewData["Title"] = "Tạo mới Loại giấp phép lái xe";
}

<h2>Tạo mới</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Loại giấp phép lái xe</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ten" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
