@model AgileLogisticsManagement.Models.LoaiGiayPhepLaiXe

@{
    ViewData["Title"] = "Chi tiết Loại giấy phép lái xe";
}

<h2>Xem thông tin</h2>

<div>
    <h4>Loại giấp phép lái xe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>
