@model AgileLogisticsManagement.Models.TaiXe

@{
    ViewData["Title"] = "Xóa Tài xế";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa thông tin Tài xế này phải không?</h3>
<div>
    <h4>Tài xế</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaSo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaSo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
