@model AgileLogisticsManagement.Models.TaiXe

@{
    ViewData["Title"] = "Chỉnh sửa Tài xế";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Tài xế</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="DiaChi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdLoaiGiayPhepLaiXe" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="IdLoaiGiayPhepLaiXe" class="form-control" asp-items="ViewBag.IdLoaiGiayPhepLaiXe"></select>
                <span asp-validation-for="IdLoaiGiayPhepLaiXe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaSo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaSo" class="form-control" />
                <span asp-validation-for="MaSo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoDienThoai" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ten" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu chỉnh sửa" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
