@model AgileLogisticsManagement.Models.HopDongVanTaiLe

@{
    ViewData["Title"] = "Xóa Hợp đồng vận tải lẻ";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa thông tin Hợp đồng vận tải lẻ này phải không?</h3>
<div>
    <h4>Hợp đồng vận tải lẻ</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
