@model AgileLogisticsManagement.Models.HopDongVanTaiLe

@{
    ViewData["Title"] = "Chi tiết Hợp đồng vận tải lẻ";
}

<h2>Xem thông tin</h2>

<div>
    <h4>Hợp đồng vận tải lẻ</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>
