@model AgileLogisticsManagement.Models.HopDongVanTaiLe

@{
    ViewData["Title"] = "Chỉnh sửa Hợp đồng vận tải lẻ";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Hợp đồng vận tải lẻ</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="IdDoiTac" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="IdDoiTac" class="form-control" asp-items="ViewBag.IdDoiTac"></select>
                <span asp-validation-for="IdDoiTac" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdLoaiHangHoa" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="IdLoaiHangHoa" class="form-control" asp-items="ViewBag.IdLoaiHangHoa"></select>
                <span asp-validation-for="IdLoaiHangHoa" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu chỉnh sửa" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
