@model AgileLogisticsManagement.Models.Xe

@{
    ViewData["Title"] = "Tạo mới Xe vận tải";
}

<h2>Tạo mới</h2>

<form asp-action="Create" ng-submit="onSubmit()">
    <div class="form-horizontal">
        <h4>Xe vận tải</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BienSo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BienSo" class="form-control" ng-model="BienSo" />
                <span asp-validation-for="BienSo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdTaiXe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdTaiXe" class="form-control" asp-items="ViewBag.IdTaiXe" ng-model="IdTaiXe"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KiemDinh_Han" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KiemDinh_Han" class="form-control agile-datetime" ng-model="KiemDinh_Han" />
                <span asp-validation-for="KiemDinh_Han" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KiemDinh_Ngay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KiemDinh_Ngay" class="form-control agile-datetime" ng-model="KiemDinh_Ngay" />
                <span asp-validation-for="KiemDinh_Ngay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaSo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaSo" class="form-control" ng-model="MaSo" />
                <span asp-validation-for="MaSo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" ng-click="onSubmit()" value="Lưu tạo mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var app = angular.module('app', []).controller('ctrl', function ($scope) {
        $scope.MaSo = '';
        $scope.BienSo = '';
        $scope.IdTaiXe = 0;
        $scope.KiemDinh_Han = new Date();
        $scope.KiemDinh_Ngay = new Date();
        $scope.onSubmit = function () {
            console.log(this);

            var _KiemDinh_Han = moment($('#KiemDinh_Han').val(), "DD/MM/YYYY HH:mm");
            var _KiemDinh_Ngay = moment($('#KiemDinh_Ngay').val(), "DD/MM/YYYY HH:mm");

            var data = {
                MaSo: $scope.MaSo, BienSo: $scope.BienSo, IdTaiXe: $scope.IdTaiXe, KiemDinh_Han: _KiemDinh_Han._d,
                KiemDinh_Ngay: _KiemDinh_Ngay._d
            };

            $.ajax({
                url: "/api/XesApi/Create",
                type: "POST",                
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: function (result) {
                    location.href = '/Xes';
                }
            });

        }
    })
</script>