@model AgileLogisticsManagement.Models.Xe

@{
    ViewData["Title"] = "Xóa Xe vận tải";
}

<h2>Xóa</h2>

<h3>Bạn muốn xóa thông tin Xe vận tải này phải không?</h3>
<div>
    <h4>Xe vận tải</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BienSo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTaiXe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTaiXe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KiemDinh_Han)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KiemDinh_Han)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KiemDinh_Ngay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KiemDinh_Ngay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaSo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaSo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
