@model AgileLogisticsManagement.Models.Xe

@{
    ViewData["Title"] = "Chi tiết Xe vận tải";
}

<h2>Xem thông tin</h2>

<div>
    <h4>Xe vận tải</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BienSo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTaiXe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTaiXe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KiemDinh_Han)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KiemDinh_Han)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KiemDinh_Ngay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KiemDinh_Ngay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaSo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaSo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>
