@model AgileLogisticsManagement.Models.Xe

@{
    ViewData["Title"] = "Chỉnh sửa Xe vận tải";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit" ng-submit="onSubmit()">
    <div class="form-horizontal">
        <h4>Xe vận tải</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="BienSo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BienSo" class="form-control" ng-model="BienSo" />
                <span asp-validation-for="BienSo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdTaiXe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IdTaiXe" class="form-control" asp-items="ViewBag.IdTaiXe"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KiemDinh_Han" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KiemDinh_Han" class="form-control agile-datetime" ng-model="KiemDinh_Han" />
                <span asp-validation-for="KiemDinh_Han" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KiemDinh_Ngay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KiemDinh_Ngay" class="form-control agile-datetime" ng-model="KiemDinh_Ngay" />
                <span asp-validation-for="KiemDinh_Ngay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaSo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaSo" class="form-control" ng-model="MaSo" />
                <span asp-validation-for="MaSo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu chỉnh sửa" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var xe = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.JsonSerializerSettings
    {
                       ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
    }));
    var app = angular.module('app', []).controller('ctrl', function ($scope) {


        $scope.MaSo = xe.MaSo;
        $scope.BienSo = xe.BienSo;
        $scope.IdTaiXe = xe.IdTaiXe;
        $scope.KiemDinh_Han = xe.KiemDinh_Han;
        $scope.KiemDinh_Ngay = xe.KiemDinh_Ngay;
        $scope.onSubmit = function () {
            console.log(this);

            var _KiemDinh_Han = moment($('#KiemDinh_Han').val(), "DD/MM/YYYY HH:mm");
            var _KiemDinh_Ngay = moment($('#KiemDinh_Ngay').val(), "DD/MM/YYYY HH:mm");
            var _IdTaiXe = $('#IdTaiXe').val();

            var data = {
                MaSo: $scope.MaSo, BienSo: $scope.BienSo, IdTaiXe: _IdTaiXe, KiemDinh_Han: _KiemDinh_Han._d,
                KiemDinh_Ngay: _KiemDinh_Ngay._d, Id:xe.Id
            };

            $.ajax({
                url: "/api/XesApi/Edit?id="+@Model.Id,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: function (result) {
                    location.href = '/Xes';
                }
            });

        }
    })

    $(document).ready(function () {
        $( "#BienSo" ).focus();
    });
</script>